extends layout

block content
  h1 Tu registro está pendiente de confirmación
  p Tu cuenta está esperando ser aprobada por un administrador.
  p Por favor, contacta a la clínica al número de teléfono <strong>(XXXX) XXXX-XXXX</strong> para más información.
  
