extends layout

block content
  h1 Bienvenido, seleccione su clínica
  button(onclick="window.location.href='/login'") Clínica Integral SaludPlus
  button(onclick="window.location.href='/login'") Centro Médico Vida Total
