extends layout

block content
  div.login-container
    div.form-container
      h2 Iniciar Sesión Médico
      form(action="/login/medico" method="POST")
        div.form-group
          label(for="username") Nombre de Usuario
          input.input-field(type="text" id="username" name="username" required)
        div.form-group
          label(for="password") Contraseña
          input.input-field.contraLogin(type="password" id="password" name="password" required)
        div
          button(type="submit") Iniciar Sesión
    div.image-container
      img(src="/images/ImgLogDoc.jpg" alt="Login Médico")
